* {
    box-sizing: border-box;
    font-family: @regular;
}

p, h2 {
    display: block;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}
.text-container {
    max-width: 76%;
    margin: auto;
}
.href-decor {
    // color: @white;
    text-decoration:none;
}
.button {
    display: block;
    background: @pink 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: @white;
    font-size: 23px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
button:active, button:focus {
    position: гelative;
    border: none;
    outline: none;
}

.header {
    background: url(../img/22.png) no-repeat bottom;
    background-size: contain;
    .padding {
        padding-top: 30px;
        padding-left: 12.47%;
    }
    .back-image {
        width: 100%;
        padding-left: 12.47%;
        padding-bottom: 10.58vw;
    }
    &__title {
        color: @grey;
        font-size: 9.64vw;
        font-family: @bold;
    }
    &__description {
        margin: 5px 0 25px 0;
        color: @grey;
        font-size: 5.17vw;
    }
    &__btn{
        width: 70%;
        height: 75px;
        font-size: 5.41vw;
    }
    &__cost {
        margin-top: 25.88vw;
        font-size: 7.76vw;
        color: @grey;
        text-align: left;
        font-family: @bold;
        span{
            text-decoration: line-through;
            font-family: @bold;
        }
    }
    &__sell {
        font-size: 9.17vw;
        color: @white;
        margin-top: 55.29vw;
    }
}
.inform{
    // height: 707px;
    &__image{
        height: 233px;
        background: transparent linear-gradient(180deg, #84C1FF 0%, #FFFFFF 100%) 0% 0% no-repeat border-box;
        &__present{
            padding-top: 30px;
            margin-bottom: 20px;
            width: 100%;
            font-size: 33px;
            color: @white;
            text-align: center;
        }
        img {
            width: 60%;
            display: block;
            margin: auto;
        }
    }
    &__container{
        margin: auto;
        &__title {
            width: 100%;
            margin-top: 19vw;
            color: @grey;
            font-size: 24px;
            text-transform: uppercase;
        }
        &__description {
            width: 100%;
            margin-top: 20px;
            color: @grey;
            font-size: 18px;
            line-height: 24px
        }
    }
}
.review {
    // height: 662px;
    margin-top: 35px;
    &__image {
        img {
            width: 100%;
            display: block;
        }
    }
    &__comment {
        background: transparent linear-gradient(0deg, #FFDB4A 0%, #E4AF00 100%) 0% 0% no-repeat border-box;
        margin-top: -39vw;
        padding-top: 152px;
        padding-bottom: 78px;
        .review-carousel {
            width: 258px;
            // height: 284px;
            margin: auto;
        }
        img {
            width: 117px;
            display: block;
            margin: auto;
        }
        &__name {
            margin-top: 21px;
            text-align: center;
            font-size: 20px;
        }
        &__text {
            font-size: 20px;
            width: 258px;
            margin: auto;
            margin-top: 19px;
            line-height: 26px;
        }
    }
    .flickity-prev-next-button.previous {
        left: -30px !important;
        background: none !important;
    }
    .flickity-prev-next-button.next {
        right: -30px !important;
        background: none !important;
    }
}
.holiday-offer {
    &__back {
        // height: 757px;
        background: transparent url('../img/ecaabc7cf8132a13581165d0ff1dfed3.png') 0% 0% no-repeat padding-box;
        background-size: cover;
        padding-top: 44px;
        &__title {
            font-family: @bold;
            color: @white;
            font-size: 28px;
            text-align: center;
            text-transform: uppercase;
        }
        &__description {
            margin-top: 91vw;
            font-family: @bold;
            font-size: 26px;
            text-align: center;
        }
        &__tagline {
            font-size: 26px;
            color: @pink;
            font-family: @bold;
            margin-top: 12px;
            text-align: center;
            text-transform: uppercase;
        }
        &__btn {
            margin: auto;
            margin-top: 34px;
            width: 80%;
            height: 74px;
        }
    }
    &__inform {
        // height: 230px;
        margin-top: 35px;
        &__title {
            color: @pink;
            font-size: 24px;
        }
        &__description {
            margin-top: 20px;
            color: @grey;
            font-size: 18px;
            line-height: 24px;
        }
    }
}
.advantages {
    margin-top: 35px;
    &__back {
        // height: 654px;
        background: transparent url('../img/213.png') 0% 0% no-repeat padding-box;
        background-size: contain;
        padding-top: 82vw;
        &__title {
            font-size: 24px;
            font-family: @bold;
            text-transform: uppercase;
        }
        &__description {
            font-size: 19px;
            line-height: 26px;
            padding: 20px 0 30px 0;
            border-bottom: 1px solid @grey;
        }
    }
    &__list {
        // height: 700px;
        // margin-top: 60px;
        &__title {
            color: @pink;
            font-size: 24px;
            padding: 20px 0;
        }
        &__info {
            color: @grey;
            font-size: 18px;
            line-height: 24px;
        }
    }
}
.instruction {
    margin-top: 50px;
    &__video {
        video {
            width: 100%;
            display: block;
        }
    }
    &__list {
        // height: 560px;
        padding-top: 45px;
        &__title {
            color: @grey;
            font-size: 24px;
        }
        &__li {
            margin-top: 30px;
            .number {
                width: 15.625%;
                display: inline-block;
                color: @pink;
                font-size: 51px;
                float: left;
            }
            .info {
                width: 84.375%;
                display: inline-block;
                color: @grey;
                &__title {
                    font-size: 18px;
                }
                &__description {
                    margin-top: 16px;
                    line-height: 20px;
                    font-size: 15px;
                }
            }
        }
    }
}
.power {
    margin-top: 50px;
    &__image {
        img {
            width: 100%;
            display: block;
        }
    }
    &__inform {
        // height: 400px;
        padding-top: 46px;
        &__title {
            color: @grey;
            font-size: 24px;
            line-height: 32px;
            text-transform: uppercase;
        }
        &__count {
            margin-top: 12px;
            font-size: 18px;
            padding-bottom: 22px;
            border-bottom: 1px solid @grey;
        }
        &__tagline {
            margin: 25px 0;
            color: @pink;
            font-size: 24px;
            line-height: 26px;
        }
        &__description {
            font-size: 18px;
            color: @grey;
            line-height: 24px;
        }
    }
}
.order {
    margin-top: 30px;
    &__image{
        // height: 85px;
        img {
            display: block;
            width: 47%;
            margin: auto;
        }
    }
    &__info {
        // height: 603px;
        // background: transparent linear-gradient(180deg, #2b2828 0%, #474747 15%, @grey 100%) 0% 0% no-repeat padding-box;
        background: transparent linear-gradient(180deg, #2b2828f2 0%, #474747 13%, #707070 100%) 0% 0% no-repeat padding-box;
        color: @white;
        padding-bottom: 115px;
        margin-top: -27vw;
        padding-top: 23.5vw;
        &__title {
            font-size: 24px;
            font-family: @bold;
            text-align: center;
            text-transform: uppercase;
        }
        &__description {
            margin-top: 25px;
            font-size: 18px;
            line-height: 24px;
        }
    }
    &__btm-image{
        width: 66.5%;
        display: block;
        margin: auto;
        margin-top: -18vw;
    }
    &__preview {
        // height: 837px;
        padding-top: 55px;
        color: @grey;
        &__title {
            font-size: 41px;
            font-family: @bold;
            text-align: center;
        }
        &__description {
            margin-top: 10px;
            font-size: 22px;
            text-align: center;
        }
        .order-carousel {
            width: 203px;
            margin: auto;
            margin-top: 20px;
            img {
                display: block;
                width: 203px;
            }
        }
        &__cost {
            margin-top: 20px;
            font-size: 33px;
            line-height: 44px;
            text-align: center;
            span {
                text-decoration: line-through;
            }
        }
        input {
            display: block;
            width: 76.19%;
            height: 56px;
            border: 1px solid @grey;
            border-radius: 7px;
            text-align: center;
            backdrop-filter: blur(50px);
            -webkit-backdrop-filter: blur(50px);
        }
        input:focus, input:active {
            outline: none;
        }
        &__name {
            margin: auto;
            margin-top: 30px;
            margin-bottom: 7px;
        }
        &__phone {
            margin: auto;
        }
        &__btn {
            margin: auto;
            margin-top: 17px;
            width: 76.19%;
            height: 76px;
        }
    }
    .flickity-prev-next-button.previous {
        left: -50px !important;
        background: none !important;
    }
    .flickity-prev-next-button.next {
        right: -50px !important;
        background: none !important;
    }
}
.footer {
    margin-top: 37px;
    color: @white;
    background: #474747 0% 0% no-repeat padding-box;
    font-family: @bold;
    padding-top: 33px;
    padding-bottom: 36px;
    &__info {
        font-size: 15px;
        letter-spacing: 0.45px;
        line-height: 20px;
    }
    &__policy {
        color: @white;
        font-size: 13px;
        letter-spacing: 0.39px;
        margin-top: 9px;
    }
    a:link, a:visited, a:active, a:hover {
        color: @white;
    }
}

@media (min-width:425px) {
    .container {
        max-width: 425px;
    }
    .header {
        .back-image {
            padding-bottom: 45px;
        }
        &__title {
            font-size: 41px;
        }
        &__description {
            margin: 5px 0 25px 0;
            font-size: 22px;
        }
        &__btn{
            font-size: 23px;
        }
        &__cost {
            font-size: 33px;
            margin-top: 110px;
        }
        &__sell {
            font-size: 39px;
            margin-top: 235px;
        }
    }
    .order{
        &__info{
            padding-top: 100px;
            margin-top: -115px;
        }
        &__btm-image{
            margin-top: -75px;
        }
    }
    .review__comment {
        margin-top: -152px;
    }
    .inform__container__title {
        margin-top: 81px;
    }
    .holiday-offer__back__description {
        margin-top: 387px;
    }
    .advantages__back {
        padding-top: 348px;
    }
}

.flickity-viewport {
    overflow: visible !important;
}
.carousel-cell {
    opacity: 0;
    transition: opacity 0.5s;
}
.is-selected {
    opacity: 1;
    transition: opacity 0.5s;
}
@grey: #707070;
@pink: #FF8BD8;
@black: #000000;
@white: #FFFFFF;
@bold: 'Segoe UI Semibold', sans-serif;
@regular: 'Segoe UI Regular', sans-serif;

@import './_fonts.less';